<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-horizontal-layout width-full height="30px" :middle>
    <vaadin-native-select width-full data-item-type="java.lang.String" _id="projectSelect" :expand>
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-native-select>
    <vaadin-label icon="fonticon://Vaadin-Icons/e80d" caption="username" style-name="borderright" width="100px" plain-text _id="userName" :middle :right :expand></vaadin-label>
    <vaadin-label icon="fonticon://Vaadin-Icons/e6ac" caption="Logout" width="80px" plain-text :middle :right></vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout width-full></vaadin-horizontal-layout>
   <vaadin-horizontal-layout size-full :expand></vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>