// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .error {
    color: red;
  }
  
  .v-slot-username {
    border-right: 1px solid gray;
    height: 25px!important;
    padding-top: 5px;
  }

  .v-slot-username .v-icon, .v-slot-logout .v-icon, .v-slot-reportBugLabel  .v-icon,
  .v-slot-requestFeatureLabel .v-icon, .v-slot-manageProjectLabel .v-icon
  {
	font-size: 18px;
  }

  div.v-caption-username {
    text-align: right;
    padding-right: 15px;
  }
  
  .v-slot-logout {
    height: 25px!important;
    margin-top: -10x;
  }

  div.v-slot-logout span {
    font-size: 14px;
    font-weight: 400 !important;
  }
 
  div.v-slot-logout .v-button-link {
  	text-decoration: none;
  	color: inherit;
  }

  .v-slot-requestFeatureLabel {
  	width: auto !important;
    border-right: 1px solid gray;
    height: 25px!important;
  }
  
  .v-slot-reportBugLabel {
  	width: auto !important;
  }
  
  .v-slot-manageProjectLabel {
  	width: auto !important;
  }

  .v-caption-badge  {
	background: gray;
	color: white;
	width: auto;
	text-align: center;
	border-radius: 45%;
	box-shadow: 0 0 1px #333;
  }
  
  .v-caption-badge .v-captiontext {
  	margin-top: 5px;
  }
  
  .v-slot-reportBugLabel {
  	width: auto !important;
  }
  
  .headerSecondLine {
    border-bottom: 1px solid #c5c5c5;
  }
  
  .v-caption-reportsFor span {
    font-size: medium;
  }

  .priority-bar {
  	background-color: gray;
  	height: 25px;
  	width: 5px;
  	margin-right: 2px;
  }
  
  .reports-view {
  }
 
  .report-header {
  	padding-top: 15px;
  	padding-left: 15px;
  	background-color: lightgray;
  	border-bottom: 1px solid gray;
  }
 
  .comment {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid gray;
  }

  .comment {
  	padding-top: 5px;
  }

  .first-comment {
  	background-color: lightgray;
  }

  .report-summary-label {
  	padding-top: 4px;
  }

  .author-name-label {
  	color: gray;
  }
 
  .report-description {
  	margin-top: -15px;
  	padding-left: 25px;
  	padding-bottom: 10px;
  }
}
