<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout style-name="add-comment-panel" height="347px" _id="addCommentPanel">
   <vaadin-text-area style-name="comment-text-area" placeholder="Write a new comment..." width-full height="240px" _id="commentTextArea" :expand></vaadin-text-area>
   <vaadin-horizontal-layout width="35.78%">
    <vaadin-button style-name="primary" width="73px" plain-text _id="doneButton">
      Done 
    </vaadin-button>
    <vaadin-button width="134px" plain-text _id="attachmentButton" :expand>
      Attachment... 
    </vaadin-button>
    <vaadin-button style-name="tiny" width="83px" plain-text _id="cancelButton" :middle>
      Cancel 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>