<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout style-name="comment-attachment" height="40px">
   <vaadin-label width-full plain-text _id="filenameLabel" :middle :expand>
     Filename 
   </vaadin-label>
   <vaadin-progress-bar width="100px" _id="progressBar" :middle :right></vaadin-progress-bar>
   <vaadin-button icon="fonticon://Vaadin-Icons/e911" style-name="borderless" height="24px" plain-text _id="removeButton" :middle :right></vaadin-button>
  </vaadin-horizontal-layout>
 </body>
</html>